.jacquard-24-regular {
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}






.img-fluid{
    width: 150px;
    height: 80px;
}

.nav-item{
  width: 150px;
}

.carousel-item img{
    margin: auto;
}

.carousel { padding-bottom: 4rem; }
.carousel-caption { top: 100%; color: black;}
.carousel-inner { overflow: visible; }
.carousel { overflow: hidden; }
.carousel-indicators { bottom: 4rem; }
.carousel-control-next, .carousel-control-prev { bottom: 4rem; }

.cannibal{
  width: 120%;
}

.kickback{
  width: 120%;
}
.pigstep{
  width: 120%;
}

.sunflower{
  width: 120%;
}

.riptide{
  width: 120%;
}

.revenge{
  width: 120%;
}

.nightdancer{
  width: 120%;
}

.IDGAF{
  width: 120%;
}

.songofstorms{
  width: 120%;
}

.nightwatch{
  width: 120%;
}

.loonboon{
  width: 120%;
}

/* cards */
.card {
    position: relative;
    width: 190px;
    height: 254px;
    background: #f00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg,#03a9f4,#ff0058);
  }
  
  .card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg,#03a9f4,#ff0058);
    filter: blur(30px);
  }
  
  .card b {
    position: absolute;
    inset: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
  }
  
  .card img {
    position: absolute;
    z-index: 3;
    scale: 0.7;
    /* opacity: 0.25; */
    transition: 0.5s;
  }
  
  .card:hover img {
    scale: 0.5;
    opacity: 0.9;
    transform: translateY(-70px);
  }
  
  .card .content {
    position: absolute;
    z-index: 3;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0);
    transition: 0.5s;
  }
  
  .card:hover .content {
    transform: scale(1);
    bottom: 25px;
  }
  
  .content .title {
    position: relative;
    color: #fff;
    font-weight: 500;
    line-height: 1em;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
  }
  
  .content .title span {
    font-weight: 300;
    font-size: 0.70em;
  }

  /* button */
  button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
   }
   
   button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   button:hover {
    color: #fff;
   }
   
   button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   button:active:before {
    background: #3a0ca3;
    transition: background 0s;
   }